* {
    box-sizing: border-box;
  }

:root {
    --g1: #FBFBFB;
    --gray-1: #333;
    --gray-4: #BDBDBD;
    --gray-6: #F2F2F2;
}

body {
    margin: 0;
    padding: 0;
    font-family: TT Hoves;
    font-style: normal;
    background: #FFF;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 40px;
}

.header {
    padding: 30px 0px;
}

.header-flex,
.flex_about,
.flex_task,
.flex_projects,
.flex_contact {
    display: flex;
    
}

.header-flex {
    align-items: center;
    justify-content: space-around;
}

.menu_body {
     display: flex;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo_1, .logo_2 {
    position: relative;
} 

.logo_1 {
    top: 7px;
}

.logo_2 {
    bottom: 7px
}

.nav_list {
    display: flex;
}

.nav__link {
    display: flex;
    flex-direction: column;
    margin: 0px 60px 0px 60px;
    color: var(--gray-1);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 2.4px;
}
/*
.nav__link::before {
    position: relative;
    width: 100%;
    content: '';
    height: 1px;
    background: var(--gray-1);
    top: -3px;
    left: -1px;
  }

.nav__link::after {
    position: relative;
    width: 100%;
    content: '';
    height: 1px;
    background: var(--gray-1);
    bottom: -3px;
    left: -1px;
  }
*/
.nav__link:hover::before {
    position: relative;
    width: 100%;
    content: '';
    height: 1px;
    background: var(--gray-1);
    top: -3px;
    left: -1px;
}

.nav__link:hover::after {
    position: relative;
    width: 100%;
    content: '';
    height: 1px;
    background: var(--gray-1);
    bottom: -3px;
    left: -1px;
}

  .active::before {
    position: relative;
    width: 100%;
    content: '';
    height: 1px;
    background: var(--gray-1);
    top: -3px;
    left: -1px;
  }

  .active::after {
    position: relative;
    width: 100%;
    content: '';
    height: 1px;
    background: var(--gray-1);
    bottom: -3px;
    left: -1px;
  }
  
  .home_section,
  .abot_section,
  .main_task {
    padding: 0px 0px 120px 0px;
  }

  .home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .home__content {
    max-width: 280px;
   display: flex;
   flex-direction: column;
  }
  
  .home__title{
    color: var(--gray-4);
    font-family: sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
    margin: 0;
  }

  .home__title2 {
    color: var(--gray-1);
    font-family: sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin: 0;
  }

  .slider__btns {
    display: flex;
    margin: 90px 0px 90px 0px;
  }

  .pers__btn {
    background-image: url(../src/img/ico_shape.svg);
    width: 53px;
    height: 53px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid  #F2F2F2;
    transition: all 0.4s;
  }

  .pers__btn.prev {
    transform: scale(-1, 1);
    margin: 90px 23px 90px 0px;
  }

  .pers__btn.next {
    margin: 90px 23px 0px 0px;
  }

  .pers__btn:hover {
    background-color: #F2F2F2;
  }

  .solid {
    border: 1px solid #F2F2F2;
    background: #F9F9F9;
    position: relative;
    bottom: 207px;
    display: block;
    left: 129px;
    width: 371px;
    z-index: -1;
}

  .slide__01,
  .slide__slash,
  .slide__02 {
    color: var(--gray-4);
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
  }

  .slide__slash {
    margin: 0px 30px 0px 30px;
  }

  .item__btn {
    width: 222px;
    height: 71px;
    background: #FFF;
    position: relative;
    bottom: 74px;
    left: -1px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
  }

  .item__btn:hover {
    box-shadow: #333 0px 0px 10px 0px;
  }  

  .btn_look,
  .reading_btn {
    color: var(--gray-1);
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }

/* About section*/

.flex_about {
  gap: 10px 30px;
  justify-content: center;
}

.about__img_left {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.about_info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  align-content: space-around;
}

.about_info_text {
  width: 400px;
  display: flex;
  align-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about_company{
  color: var(--gray-4, #BDBDBD);
  font-family: TT Hoves;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px; /* 100% */
}

.about-description {
  color: #000;
font-family: TT Hoves;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 25px; /* 156.25% */
}

.about_btn {
  width: 222px;
  height: 71px;
  background: #FFF;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.about_btn:hover {
  box-shadow: #333 0px 0px 10px 0px;
}

.btn::after {
  content: " " url(../src/img/ico_shape.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
}


/*Main task*/
.flex_task {
  flex-wrap: wrap
}

.main_task_title {
  color: var(--gray-4, #BDBDBD);
  font-family: TT Hoves;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px; /* 100% */
}

.about_box {
  display: flex;
}

.about_box_1,
.about_box_2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px 30px;
}

.numb_box {
    display: flex;
    width: 104px;
    height: 140px;
    flex-direction: column;
    justify-content: center;
}

.one,
.two {
  color: var(--gray-6, #F2F2F2);
    font-family: SF Pro Display;
    font-size: 200px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.box_text {
  width: 279px;
}

.text_box {
  color: var(--gray-1, #333);
  font-family: TT Hoves;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
